.slide {
  font-size: 24pt;      /* size */
}


.reveal section h2 {
  color: #72006c;
  font-size: 50px;
}

#title-slide .title {
text-align: center;
color:  #72006c;
  font-size: 40px
}

#title-slide .quarto-title-author {
text-align: center;
color: #464a53;
  font-size: 30px;
}